
     

<!-- tipo -> encargado, empresa
creador_id -> number
nombre -> string
descripcion -> string
progreso -> number
precio -> number
user_id -> -->

    <div class="container">
            <section class="form-gradient">
                    <!-- header-->
                    <mdb-card>
                      <div class="header pt-3 stylish-color-dark">
                  
                        <div class="row d-flex justify-content-center">
                          <h3 class="white-text mb-3 pt-3 font-weight-bold">Pedidos</h3>
                        </div>
                      </div>
                      
                  
                      <mdb-card-body class="mx-4 mt-4">
                  
                        <!--Body-->
                        <form>
                  
                            <div class="row">
                                <div class="md-form col-md-4">
        
                                        <div class="md-form form-group">
                                          <input mdbInput type="text" class="form-control" id="user" >
                                          <label >Usuario</label>
                                        </div>
                                      </div>
                            
                            <div class="md-form col-md-4">
                                   
                                    <div class="md-form form-group">
                                      <input mdbInput type="text" class="form-control" id="user_id" >
                                      <label for="userid">user_id?</label>
                                    </div>
                            </div>
                            <div class="md-form col-md-4">
                                   
                                    <div class="md-form form-group">
                                      <input mdbInput type="number" class="form-control" id="precio" >
                                      <label for="precio">Precio</label>
                                    </div>

                            </div>
                            <div class="col-md-12">
                                    <div class="md-form">
                                        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                                        <label for="form7">Descripcion</label>
                                      </div>
                                  </div>

                        </div>
                       
                              
                        <div class="text-center">
                                    <button mdbBtn type="button" gradient="purple" rounded="true"  size="lg" mdbWavesEffect>
                                            Crear Pedido
                                    </button>
                            </div>
                            
                        </form>
                  
                      
                      </mdb-card-body>
                  
                    </mdb-card>
                  
                  </section>
        
        
        
        
        
        
        
        
        
        
  
  


    </div>

