
<!-- Card deck -->
<div class="card-deck row">

    <!-- Card -->
    <div class="card mb-4" *ngFor="let item of pedidos"  style="max-width:300px">
   
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top"  [src]="item.imagenes | noimage" alt="Card image cap">
        
          <div class="mask rgba-white-slight"></div>
        
      </div>
  
      <!--Card content-->
      <div class="card-body">
        <hr>
        <p class="card-title text-center"><b>{{item.nombre}}</b></p>
        <hr>
        
        <p class="card-text">
            <span>Descripcion:</span>
          {{item.descripcion}}</p>
        
            
           <hr>
              <p >Precio:${{item.precio}}</p>
              <hr>
              <p >Progreso:{{item.progreso}}%</p>
            
        
      </div>
    </div>
  </div>
