<section id="wrapper">
        <div class="login-register" style="background-image:url(../assets/images/background/prueva.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form ngNativeValidate class="form-horizontal form-material" id="loginform" action="index.html">
                            <div class="text-center">
                                    <img src="assets/images/logo-completo.png" alt="">
                                  </div>

                                  <!--tabs-->
                <ul class="nav nav-tabs customtab row" role="tablist">
                    <li class="nav-item  col-md-6"> <a class="nav-link active text-center" data-toggle="tab" href="#usuario" role="tab"><i class="ti-user"></i> Usuario</a> </li>
                     <li class="nav-item  col-md-6"> <a class="nav-link text-center" data-toggle="tab" href="#empresa" role="tab"><i class="ti-home"></i> Empresa</a> </li>
                         </ul>
                                  <div class="tab-content ">
                                        <div class="tab-pane active" id="usuario" role="tabpanel">
                                          
                                        <app-form-register></app-form-register>
                                        </div>
                                        <div class="tab-pane  " id="empresa" role="tabpanel">
                                                <app-form-register-empresa></app-form-register-empresa>
                                         
                                        </div>
                                        
                                    </div>
                                    <!--End Tabs-->


                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Ya tienes una cuenta?<a routerLink="/login" class="text-info m-l-5"><b>Logearse</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>