

<div class="container" >
    <section class="form-gradient">
        <!-- header-->
        <mdb-card>
            <div class="header pt-3 blue-grey darken-3">
                
                <div class="row d-flex justify-content-center">
                    <h3 class="white-text mb-3 pt-3 font-weight-bold">Encargados</h3>
                </div>
            </div>
            
            
            <mdb-card-body class="mx-4 mt-4">
                
                <!--Body-->
                <form   [formGroup]="formEncargado" (ngSubmit)="crearEncargado()">
                  
          
                    <div class="row">
                        <div class="md-form col-md-6">

                                <div class="md-form form-group">
                                  <input mdbInput type="text" class="form-control" required id="nombreEncargado" formControlName="nombre"  >
                                  <label >Nombre</label>
                                </div>
                              </div>
                    
                    <div class="md-form col-md-6">
                           
                            <div class="md-form form-group">
                              <input mdbInput type="text" class="form-control" required formControlName="apellido"  id="apellidoEncargado" >
                              <label for="apellido">Apellido</label>
                            </div>
                    </div>
                    <div class="md-form col-md-6">
                           
                            <div class="md-form form-group">
                              <input mdbInput type="text" class="form-control" required formControlName="usuario" id="usuarioEncargado" >
                              <label for="precio">Usuario</label>
                            </div>

                    </div>
                    <div class="md-form col-md-6">
                           
                            <div class="md-form form-group">
                              <input mdbInput type="password" class="form-control" required formControlName="password" id="passEncargado" >
                              <label for="precio">Contraseña</label>
                            </div>

                    </div>
                    <div class="md-form col-md-6">
                           
                      <div class="md-form form-group">
                        <input mdbInput type="password" class="form-control" required formControlName="password2"  >
                        <label for="precio">Confirmar Contraseña</label>
                      </div>
                      

              </div>
             

            
                
                        
                        
                </div>
               
                      
                <div class="text-center">
                            <button mdbBtn type="submit" gradient="purple" rounded="true"  size="lg" mdbWavesEffect>
                                    Crear Encargado
                            </button>
                            
                        </div>
                    
                    </form>
                    
                    
                </mdb-card-body>
                
            </mdb-card>
            
        </section>
    </div>
   
    
    
    