

<!-- Editable table -->
<div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Encargados</h3>
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <tr>
                <th class="text-center">id</th>
                <th class="text-center">nombre</th>
                <th class="text-center">apellido</th>
                <th class="text-center">role</th>
              </tr>
              <tr *ngFor="let item of todo; let id = index">
                <td>
                  <span contenteditable="true">{{item.id}}</span>
                </td>
                <td>
                  <span contenteditable="true" >{{item.nombre}}</span>
                </td>
                <td>
                  <span contenteditable="true">{{item.apellido}}</span>
                </td>
                <td>
                  <span contenteditable="true">{{item.role}}</span>
                </td>
                <td>
                    <button mdbBtn type="submit" gradient="purple" rounded="true" block="true" mdbWavesEffect>
                  borrar
                  </button>
              </td>
                  
               
              </tr>
            </table>
          </div>
      
      <!-- Editable table -->




