<div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Usuario" id="usuario">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Correo" id="correo">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="Contraseña" id="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="Confirmar Contraseña">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="checkbox checkbox-success p-t-0">
                <input id="checkbox-signup" type="checkbox"  class="filled-in chk-col-light-blue">
                <label for="checkbox-signup">Acepta los Terminos</label>
            </div>
        </div>
    </div>
  <!--boton-->
<div class="text-center mb-3">
<button
mdbBtn
type="button"
gradient="purple"
rounded="true"
block="true"
mdbWavesEffect
>
Registrarse
</button>
</div>

//usuario
usuario -> string ->unico
email -> string
img -> archivo
password -> password encriptada, como llega se guarda