<form ngNativeValidate class="form-horizontal form-material" [formGroup]="formEmpresa" (ngSubmit)="registrarEmpresa()">

<div class="form-group row" >
    <div class="col-md-6">
        <input class="form-control" formControlName="nombre" type="text" required placeholder="Nombre" id="nombre">
       
        
    </div>

    <div class="col-md-6">
        <input class="form-control" formControlName="apellido" type="text" required placeholder="Apellido" id="apellido">
    </div>
</div>
<div class="form-group ">
    <div class="col-xs-12">
        <input class="form-control" formControlName="documento" 
         digitOnly maxlength="8" type="text" required placeholder="D.N.I(solo numeros)" id="dni">
        
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <input class="form-control" formControlName="password" type="password" required placeholder="Contraseña">
    </div>


        <div class="col-md-6">
            <input class="form-control" formControlName="password2" type="password" required  placeholder="Confirmar contraseña">
        </div>
    </div>
    <div class="form-group row ">
            <div class="col-md-6">
                <input class="form-control" formControlName="empresa" type="text" required  placeholder="Empresa">
            </div>

            <div class="col-md-6">
                <input class="form-control" formControlName="ubicacion" type="text" required  placeholder="direccion">
            </div> 
        </div>
        <div class="form-group row">
                <div class="col-md-6">
                    <input class="form-control"formControlName="pais"  type="text" required placeholder="Pais">
                </div>
           
            
                    <div class="col-md-6">
                        <input class="form-control" formControlName="provincia" type="text" required placeholder="Provincia">
                    </div>
                </div>
                
                    <div class="form-group row">
                            <div class="col-md-12">
                            
                             <mdb-checkbox class="checkbox-teal" formControlName="condiciones" [checked]="false">Acepta los Terminos</mdb-checkbox>
                              
                            </div>
                        </div>
<!--boton-->
<div class="text-center mb-3">
<button
    mdbBtn
    type="submit"
    gradient="purple"
    rounded="true"
    block="true"
    mdbWavesEffect
    >
    Registrarse</button>
</div>


</form>