
<div class="form-group row" >
    <div class="col-md-6">
        <input class="form-control" type="text" required="" placeholder="Nombre" id="nombre">
    </div>

    <div class="col-md-6">
        <input class="form-control" type="text" required="" placeholder="Apellido" id="apellido">
    </div>
</div>
<div class="form-group ">
    <div class="col-xs-12">
        <input class="form-control" type="text" required="" placeholder="D.N.I" id="dni">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <input class="form-control" type="password" required="" placeholder="Contraseña">
    </div>


        <div class="col-md-6">
            <input class="form-control" type="password" required="" placeholder="Confirmar contraseña">
        </div>
    </div>
    <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" type="text" required="" placeholder="Empresa">
            </div>
        </div>
        <div class="form-group row">
                <div class="col-md-6">
                    <input class="form-control" type="text" required="" placeholder="Pais">
                </div>
           
            
                    <div class="col-md-6">
                        <input class="form-control" type="text" required="" placeholder="Provincia">
                    </div>
                </div>
                
                    <div class="form-group row">
                            <div class="col-md-12">
                            
                             <mdb-checkbox class="checkbox-teal" [checked]="false">Acepta los Terminos</mdb-checkbox>
                              
                            </div>
                        </div>
<!--boton-->
<div class="text-center mb-3">
<button
    mdbBtn
    type="button"
    gradient="purple"
    rounded="true"
    block="true"
    mdbWavesEffect
    >
    Registrarse</button>
</div>
 <!-- //empresa
nombre -> string
apellido -> string
documento -> number ->unico
nombreEmpresa -> string
password -> string
ubicacion -> string
provincia -> string
pais -> string
img -> archivo  -->